{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Evénements{% endblock %}

{% block body %}
    {% include 'navbar/navbar.html.twig'%}

    <h1> Mes Evénements</h1>

=======
{% block title %}Gruppetto | Evénements{% endblock %}

{% block body %}
>>>>>>> 1aff6d414702bc73437dcbb9fe23d33e0260eff7
{% endblock %}
