{% extends 'base.html.twig' %}

{% block title %}Gruppetto | Nouvelle évenement {% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('new_events') }}
{% endblock %}
{% block body %}
    <div class="new">
        {{ include('event/_form.html.twig') }}
    </div>
{% endblock %}
 {% block javascripts %}
     {{ encore_entry_script_tags('new_events') }}
 {% endblock %}
