{% extends 'base.html.twig' %}

{% block title %}Gruppetto{% endblock %}

{% block body %}
    <section class="container">
        <section id="auth-buttons">
            <button onclick='location.href="{{path('app_register')}}"'  class="auth-button">Inscription</button>
            <button class="auth-button">Connexion</button>
        </section>

    </section>
    {% include 'registration/_mainLogo.html.twig' %}
{% endblock %}
