{% extends 'base.html.twig' %}

{% block title %}Gruppetto{% endblock %}

{% block body %}

    <section id="auth-buttons">
        <button class="auth-button">Inscription</button>
        <button class="auth-button">Connexion</button>
    </section>
    <div id="logo-banner">
        <img src="build/images/gruppettoLogo5.144bb9f2.png" alt="">
    </div>



{% endblock %}
