@import "vars";

//reset
* {
    padding: 0;
    margin: 0;
}


.hide {
    display: none !important;
}

.closeCard {
    display: flex;

}

body {
    height: 100vh;
    background: url("/build/images/homepage.71b33183.jpg") no-repeat fixed center;
    background-size: cover;

    .green-box{
        background-color: $primary-color95;
        height: 80%;
        width: 90%;
        border: 3px solid $primary-border-color;
        border-radius: 5px;
    }

    .searchBar{
        display: flex;
        width: 80%;
        justify-content: flex-end;

        .searchType{
            visibility: hidden;
        }

        // for searchBar
        .searchType.visible{
            visibility: visible;
        }

        div.js-search-icon{
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 100%;
            background-color: $secondary-color;

            img{
                width: 80%;
                height: 35px;
            }
        }
    }

    .container{
        width: 100%;
        height: 85%;
        margin: 20% 0 5% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    li{
        list-style: none;
    }
}
