@font-face {
  font-family: 'Edmondsans';
  src: url('/fonts/Edmondsans-Regular.woff2') format('woff2'),
  url('/fonts/Edmondsans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


$green: rgba(74,176,121,1);
$green50: rgba(74,176,121,0.50);
$green55: rgba(74,176,121,0.55);
$green60: rgba(74,176,121,0.60);
$green65: rgba(74,176,121,0.65);
$green70: rgba(74,176,121,0.70);
$green75: rgba(74,176,121,0.75);
$green85: rgba(74,176,121,0.85);
$green90: rgba(74,176,121,0.90);
$green95: rgba(74,176,121,0.95);

$green-border: rgba(30,103,64,1);

$black-filter: rgba(0,0,0,0.50);





$white50: rgba(255,255,255,0.50);
$white55: rgba(255,255,255,0.55);
$white60: rgba(255,255,255,0.60);
$white65: rgba(255,255,255,0.65);
$white70: rgba(255,255,255,0.70);
$white75: rgba(255,255,255,0.75);
$white80: rgba(255,255,255,0.80);
$white85: rgba(255,255,255,0.85);
$white90: rgba(255,255,255,0.90);
$white95: rgba(255,255,255,0.95);
$white: rgba(255,255,255,1);




$blue: rgba(16,46,130,1);
$blue50: rgba(16,46,130,0.50);
$blue55: rgba(16,46,130,0.55);
$blue60: rgba(16,46,130,0.60);
$blue65: rgba(16,46,130,0.65);
$blue70: rgba(16,46,130,0.70);
$blue75: rgba(16,46,130,0.75);
$blue80: rgba(16,46,130,0.80);
$blue85: rgba(16,46,130,0.85);
$blue90: rgba(16,46,130,0.90);
$blue95: rgba(16,46,130,0.95);


$yellow: rgba(254,204,55,1);
$yellow50: rgba(254,204,55,0.50);
$yellow55: rgba(254,204,55,0.55);
$yellow60: rgba(254,204,55,0.60);
$yellow65: rgba(254,204,55,0.65);
$yellow70: rgba(254,204,55,0.70);
$yellow75: rgba(254,204,55,0.75);
$yellow80: rgba(254,204,55,0.80);
$yellow85: rgba(254,204,55,0.85);
$yellow90: rgba(254,204,55,0.90);
$yellow95: rgba(254,204,55,0.95);




$yellow-border: rgba(205,164,41,1);
