@import "vars";
@import "form";
//reset
*{
    padding: 0;
    margin: 0;
}

body {
    background: url("/build/images/homepage.71b33183.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .container {
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        #auth-buttons {
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .auth-button {
                background: rgba(74, 176, 121, 0.9);
                border: 5px solid #1E6740;
                width: 315px;
                height: 78px;
                color: #FFFFFF;
                text-align: center;
                font-size: 48px;
                margin: 0.5em 0;
                border-radius: 5px;
            }
        }
    }
    .logo-block {
        z-index: 2;
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        #logo-banner {
            width: 275px;
            background: rgba(255, 255, 255, 0.75);
            border-radius: 23px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    //section containing the forms
    #register-form{
        height: 50vh;
        z-index: 2;
        //form choose between 'sportif' and 'club'
        #choice-entity{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            height: 100%;
            .entity{
                background: rgba(74, 176, 121, 0.9);
                border: 5px solid #1E6740;
                border-radius: 15px;
                text-align: center;
                font-size: 36px;
                width: 40%;
                height: 125px;
                color: #FFFFFF;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &:hover{
                    cursor: pointer;
                }
                &:focus{
                    color: rgba(254, 204, 55, 0.9) ;
                }
            }
        }
    }
    .info-banner{
        display: none;
    }
}

@media screen and (min-width: 992px){
    body{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 50%;
        grid-template-areas:
            'logoBlock form'
            'buttons form'
            'infobar infobar';
        .logo-block{
            grid-area: logoBlock;
            height: 100%;
            #logo-banner{
                margin: 0;
                width: 400px;
                height: 95%;
            }
        }
        .container{
            grid-area: buttons;
            height: 100%;
            #auth-buttons{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .auth-button{
                    margin: 0;
                    height: 65px;
                }
            }
        }
        .info-banner{
            grid-area: infobar;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80%;
            background-color: rgba(254, 204, 55, 0.7);
            padding: 0 2em;
            p{
                display: flex;
                flex-direction: column;
                color: #102E82;
                font-size: 36px;
                text-align: center;
                width: calc(100%/4);
            }
            hr{
                height: 70%;
                width: -1px;
                color: #102E82;
            }
        }
    }
}
