*{
    padding: 0;
    margin: 0;
}

body {
    background: url("/build/images/homepage.71b33183.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    #black-filter{
        width: 100vh;
        height: 100vw;
        position: fixed;
        z-index: 1;
        background-color: rgba(255,255,255, 0.8);
    }
    .container {
        height: 100%;
        #auth-buttons {
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .auth-button {
                background: rgba(74, 176, 121, 0.9);
                border: 5px solid #1E6740;
                width: 315px;
                height: 78px;
                color: #FFFFFF;
                text-align: center;
                font-size: 48px;
                margin: 0.5em 0;
                border-radius: 5px;
            }
        }

        #logo-banner {
            width: 275px;
            background: rgba(255, 255, 255, 0.75);
            border-radius: 23px;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    //section containing the forms
    #register-form{
        height: 50vh;
        //form choose between 'sportif' and 'club'
        #choice-entity{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            height: 100%;
            .entity{
                background: rgba(74, 176, 121, 0.9);
                border: 5px solid #1E6740;
                border-radius: 15px;
                text-align: center;
                font-size: 36px;
                width: 40%;
                height: 125px;
                color: #FFFFFF;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &:hover{
                    cursor: pointer;
                }
                &:focus{
                    color: rgba(254, 204, 55, 0.9) ;
                }
            }
            .continue-btn{
                background-color: rgba(254, 204, 55, 1);
                width: 218px;
                height: 58px;
                border: 5px solid #CDA429;
                border-radius: 5px;
            }
        }
    }

}

@media screen and (min-width: 992px){
    body{
        display: grid;
        grid-template-areas:
            'buttons form'
            'infobar infobar'
            'footer footer';
        .container{
            height: auto;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            #logo-banner{
                margin: 0;
            }
        }
    }


}
