/* becareful, of the paddinag nav bar change the display*/
nav{
   background: rgba(0,0,0,0.5);
   padding: 25%;
  }
#box-nav{
  background: rgba(255,255,255,0.35);
  width: 254px;
  height: 370px;
  left: 47px;
  top: 110px;
}
