@import "vars";

header {
    width: 100%;
    height: 100%;
    background: $black-filter;
    position: fixed;
    top: 0;
    transition: top .5s;

    /* main menu include icons*/
    .main-menu {
        width: 100%;
        height: 92%;
        padding: 10%;
        box-sizing: border-box;

        ul{
            height: 90%;
            margin-top: 7%;
            background:$light-filter50;
            border-radius: 5px;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            /* icons*/
            li {
                border-radius: 5px;
                box-sizing: border-box;
                width: 30%;
                height: 18%;
                border: solid $secondary-border-color 5px;
                margin: 8% 5%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $secondary-color95;

                a {
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    text-align: center;
                    font-size: 12px;
                    color: $tertiary-color;
                }

                img {
                    width: 50px;
                    margin: auto;
                }


            }
        }

    }

    /* Bottom bar-nav */
    .green-bottom-nav {
        display: inline-flex;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-color85;
        width: 100%;
        height: 8%;
        box-sizing: border-box;

        img {
            width: 55px;
        }

        /* Display arrow*/
        #arrow-swipe {
            margin-left: 30%;
            transition: transform .5s;
        }

        .yellow-bottom-nav {
            width: 60%;
            height: 100%;
            background-color: $secondary-color90;
            clip-path: polygon(55% 0, 100% 0%, 100% 100%, 35% 100%);
            display: flex;
            justify-content: right;
            align-items: center;

            p {
                font-size: 80%;
                color:$tertiary-color
            }
        }
    }
}


header.closed{
    top: -92%;

    #arrow-swipe{
        transform: rotate(180deg);
    }
}

@media screen and (min-width: 600px) {

    .main-menu{
        ul{
            li{

            img{
                width: 60px;
            }
            }
        }

    }
    }



