{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}
{% block title %}Nouveau Evénement{% endblock %}

{% block body %}
    <div class="new">


    {{ include('booking/_form.html.twig') }}

    <a href="{{ path('booking_index') }}"></a>
    </div>
{% endblock %}
