{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('profil') }}
{% endblock %}
{% block title %}Modifier mon ProfilClub{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    {{ include('profil_club/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('profil_club_index') }}">back to list</a>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
