{% extends 'base.html.twig' %}

{% block title %}New ProfilClub{% endblock %}

{% block body %}
    <h1>Create new ProfilClub</h1>

    {{ include('profil_club/_form.html.twig') }}

    <a href="{{ path('profil_club_index') }}">back to list</a>
{% endblock %}
