{% extends 'base.html.twig' %}

{% block title %}Gruppetto | Messages{% endblock %}

{% block body %}
{#    {% include 'navbar/_navbar.html.twig' %}#}
    <section class="container">
        <div class="searchBar">
            <input type="text" class="searchType">
            <img src="{{ asset('build/images/icons8-person.051ecf56.svg') }}" alt="search icon">
        </div>
        <section class="green-box">
            <ul>
                <li>
                    <div><img src="{{ asset('build/images/icons8-person.051ecf56.svg') }}" alt="avatar"></div>
                </li>
                <hr>
            </ul>
        </section>
    </section>
{% endblock %}
