{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ encore_entry_link_tags('details') }}
 {% endblock %}

{% block body %}
    <h1 class="information">Information</h1>
    <section class="details">
        <button class="accordion">Qui sommes-nous ?</button>
        <p class="panel">LomLomLomLomLom ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  consequat.</p>
        <button class="accordion">conditions générales d'utilisation</button>
        <p class="panel">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="accordion">Mentions légales</button>
        <p class="panel">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a class="backDetail" href="{{path('app_register')}}">
            <img class="return" src="{{asset("build/images/icons8-return.svg")}}" alt="return">
        </a>
    </section>
{% endblock body %}
 {% block javascripts %}
     {{ encore_entry_script_tags('details') }}
 {% endblock %}
